body, html {
  font-size: 12px;
  font-family: "Calibri", sans-serif;
}
.first-para{
  color: blue;
  font-size: 1.5rem;
}
.best-para{
  font-weight: lighter;
  font-family: "Courier-New";
}
nav ul{
  display: inline-block;
  text-align: center;
  width: 100%;
  list-style: none;
  background-color: orange;
}
nav ul li > a{
  color: green;
  font-weight: bold;
  font-size: 25px;
}

#imageID{
  display: inline;
}
#prettyRock{
  float:left;
  cursor: not-allowed;
}

#rockChalkJayhawk{
  display: inline;
  float: right;
}

a:hover{
  color: black;
  font-size: 2.5rem;
}

img{
  display: inline-block;
}

#copyrightText{
  font-weight: lighter;
  font-size: 0.8rem;
  text-align: center;
}

#footerLinks{
  font-weight: bold;
  font-size 0.8rem;
  text-align: center;
}
